.main_attributes{
    margin-top: 50px;
}

.footer_letter{
    color: white;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0)
    );
    margin-bottom: 25px;
  }

  .jumbotron{
      padding-top: 2.5rem;
  }
  .smaller-image {
    width: 280px;
  }
  
  #img-container {
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin: 15px auto;
  }

  .img-circle{
      border-radius: 50%;
  }

  .card-additionals{
    margin: 10px auto;
  }

  /* 
  Empiezan selectores que traje de Codepen para Contact
   */
  #social-container {
    text-align: center;
    margin-top: 60px;
  }
  #social-container img {
    width: 60px;
    text-align: center;
    margin-left: 5px;
  }
  #social-container img:hover {
    -webkit-filter: blur(2px);
  }
  
  img {
    -webkit-transition: all 1s;
  }

.contact-spacing{
  margin-bottom: 15px;
}